.win95-header {
  font-family: "MS Sans Serif", sans-serif;
  font-size: 0.917rem; /* 11px */
  font-weight: bold;
  color: white;
  background-color: #000080;
  padding: 0.5rem;
  border: 1px outset #c0c0c0;
  margin-bottom: 4px;

  &--section {
    margin: 0 0 8px 0;
    text-align: center;
  }

  &--card {
    margin-bottom: 4px;
  }
}